<h1>Character creator</h1>

<p>Here you can build parties of brave adventurers you can on explore fantasy worlds with!</p>
<p>You can create your own characters, and then assign them to parties</p>

<p>Amount of classes to pick from: <%= @classes_count %></p>
<p>Amount of characters to play with: <%= @characters_count %></p>
<p>Amount of parties to go on adventures with: <%= @parties_count %></p>
