<div class="filters">
<h3>Filter by class</h3>

    <div class="filters__class">
        <%= link_to 'All', characters_path, :class => ('selected' if !@search_filters_class) %>
        <% @character_classes.each do |character_class|%>
            <%= link_to character_class.name, characters_path(character_class: character_class.id), :class => ('selected' if @search_filters_class.to_i == character_class.id) %>
        <% end %>
    </div>
</div>