<h1>Classes</h1>
<p>List of the classes you can assign your characters</p>

<%= link_to "Request a new class", new_character_class_path, class: "button" %>

<ul>
  <% @character_classes.each do |character_class| %>
    <li>
      <%= character_class.name %>
      <% if user_signed_in? %>
        <li><%= link_to "Edit", edit_character_class_path(character_class.id) %></li>
        <li><%= link_to "Destroy", character_class_url(character_class.id), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
        </li>
    </li>
    <% end %>
  <% end %>
</ul>
